$color-bg-dark: #151B23;
$color-primary: #015551;
$color-second: #549270;
$color-accent: #fe4f2d;
$color-accent-hover: #fe502dbe;
$color-text-light: #cccccc;
$color-text-dimmed: #ccccccbb;
$color-white: #ffffff;
$color-success: #dff0d8;
$color-error: #f76a62;
