@use 'variables' as *;

.footer {
    padding: 2.5rem 7rem;
    width: 100%;
    background-color: $color-bg-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
 
    p {
        margin: 10px;
        color: $color-white;
    }
}

.footerLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footerLinks a {
    text-decoration: none;
    color: $color-white;
    transition: color 0.3s ease;
}

.footerLinks a:hover {
    color: $color-text-dimmed;
}

@media (max-width: 992px) {
    .footer {
        font-size: 0.85rem;
        align-items: center;
        gap: 15px;
        padding: 2.5rem 2rem;
    }
}

@media (max-width: 792px) {
    .footerLinks {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 692px) {
    .footer {
        padding: 1rem 2rem;
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
    }
    .footerLinks {
        flex-direction: row;
        gap: 2rem;
    }
}