@use 'variables' as *;

.footer {
    padding: 0.8rem;
    width: 100%;
    background-color: $color-bg-dark;
    display: flex;
    justify-content: center;
    align-items: center;
 
    p {
        margin: 10px;
        color: $color-white;
        font-size: 14px;
    }
}
