@use 'variables' as *;

.footer {
    padding: 2.5rem 7rem;
    width: 100%;
    background-color: $color-bg-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
 
    p {
        margin: 10px;
        color: $color-white;
    }
}

.footerLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footerLinks a {
    text-decoration: none;
    color: $color-white;
    transition: color 0.3s ease;
}

.footerLinks a:hover {
    color: $color-text-dimmed;
}
