@use 'variables' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  background-color: rgba($color-bg-dark, 0.71); // #151b23b6

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navLeft {
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    color: $color-white;
    font-size: 1.8rem;
  }
}

.navLeftUl {
  display: flex;
  list-style-type: none;
  margin: 0;

  li {  
    padding: 9px 25px;
    border-radius: 8px;

    &:hover {
      background-color: rgba($color-white, 0.09);
    }
    button {
      background: none;
      border: none;
      padding: 0;
      font-size: 1rem;
      font-weight: 700;
      color: $color-text-light;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.navLeftUlMobile {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  top: 7vh;
  left: 0;
  background-color: rgba($color-bg-dark, 0.71);
  width: 40%;
  margin: 0;
  padding: 0;

  li {
    text-decoration: none;
    font-weight: bold;
    color: $color-text-light;
    cursor: pointer;
    padding: 1rem 2rem;
    display: flex;
    gap: 0.8rem;

    svg {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: rgba(#555555, 0.82); 
    }
  }

  .divider {
    width: 100%;
  }

  .btnLoginMobile {
    display: flex;
    gap: 0.8rem;

    svg {
      font-size: 1.5rem;
    }
  }
}

.logoButton {
  all: unset;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

.logoButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.navRight {
  display: flex;
  gap: 0.3rem;
  list-style-type: none;
  align-items: center;
}

.navRightUl {
  display: flex;
  list-style-type: none;
  gap: 0.6rem;
  margin: 0;

  .userSection {
    position: relative;
    display: flex;
    align-items: center;

    .userName {
      background-color: transparent;
      color: $color-text-light;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 400;
      border: none;

      &:hover {
        color: $color-accent;
      }
    }

    .dropdownMenu {
      position: absolute;
      top: 55px;
      right: 0;
      background-color: rgba($color-bg-dark, 0.71);
      border: none;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 1000;
      display: flex;
      align-items: center;
      padding: 0px 10px;
      cursor: pointer;
      color: $color-text-light;

      svg {
        font-size: 1.5em;
      }

      &:hover {
        background-color: rgba(#555555, 0.82);
      }
    }

    .btnLogout {
      padding: 8px 15px;
      white-space: nowrap;
      display: flex;
      gap: 10px;
      border-radius: 5px;
    }
  }
}

.btnCadastro,
.btnLogin {
  text-decoration: none;
  color: $color-text-light;
  padding: 9px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

.btnLogin {
  background-color: transparent;
  &:hover {
    background-color: rgba($color-white, 0.09);
  }
}

.btnCadastro {
  background-color: $color-accent;

  &:hover {
    background-color: $color-accent-hover;
    outline: 2px solid $color-accent-hover;
  }
}

.menuIcon {
  font-size: 2rem;
  color: $color-white;
  cursor: pointer;
}

@media (max-width: 820px) {
  .navLeft {
    flex-direction: row-reverse;
    gap: 1rem;
  }
}

@media (max-width: 592px) {
  .btnLogin {
    display: none;
  }

  .userName {
    font-size: 0.8em;
  }
}

@media (max-width: 430px) {
  .header {
    padding: 0.6rem 1rem 0 1rem;
  }
  .navLeft {
    h1 {
      font-size: 1.4rem;
    }
  }
}