.header {
    height: 10vh;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 2rem; 
    h1 {
        margin: 0;
        color: #fff; 
        font-size: 1.8rem; 
    }
}

.navLeft {
    display: flex;
    align-items: center;
}

.navLeftUl {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    a {
        text-decoration: none;
        font-weight: bold;
        color: #FE4F2D;
        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.3em;
            text-decoration-thickness: 2px;
            color: #FE4F2D;
        }
    }
}

.navRight {
    display: flex;
    gap: 0.3rem;
    list-style-type: none;
    align-items: center;
}

.btnCadastro, 
.btnLogin {
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
}

.btnLogin {
    &:hover {
        background-color: #ffffff17;
    }
}

.btnCadastro {
    background-color: #FE4F2D;
    &:hover {
       background-color: #fe502dbe; 
       outline: 2px solid #fe502dbe;
    }
}