@use 'variables' as *;

.main {
  width: 100%;
  margin: 0 auto;
  background-color: $color-bg-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.homeContainer {
  margin-top: 55px;
  padding: 30vh 0;
  background-image: url("../../public/movies-background.jpg");
  background-size: 100vw;
  background-attachment: fixed;
}

.banner {
  text-align: center;
  padding: 90px 0;
  background-color: $color-primary;
}

.banner h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: $color-text-light;
}

.banner p {
  font-size: 16px;
  color: $color-text-dimmed;
}

.startButton {
  background-color: $color-accent;
  color: $color-white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease; 

  &:hover {
    background-color: $color-accent-hover;
  }
}