.main {
  background-color: #A5B68D;
  flex-grow: 1; 
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

  h1 {
    font-size: 2.5rem; 
    color: #fff;
  }
}

.capasContainer {
  display: flex;
  flex-wrap: wrap; // Permite que as capas quebrem para a próxima linha
  justify-content: center;
  gap: 1.5rem; // Espaçamento entre as capas
  margin-top: 20px;
}

.capa {
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }

  img {
    width: 200px; // Ajuste o tamanho das capas
    height: 300px;
    object-fit: cover;
    border-radius: 8px;

    &:hover {
      outline: 3px solid #fff;
      outline-offset: 2px;
    }
  }

  p {
    margin-top: 10px;
    font-size: 16px;
    // color: #333;   
  }
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.iframe {
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.botaoVoltar {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #005bb5;
  }
}