.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #151b23f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  gap: 3rem;
  backdrop-filter: blur(10px);
}

.headerModal {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 0.4rem 1rem; 
  
  position: fixed;    
  width: 100%;
  top: 0;
  z-index: 1000;

  h1 {
    margin: 0;
    color: #fff; 
    font-size: 1.8rem; 
    cursor: pointer;
    padding-left: 25px;
  }

  span {
    font-weight: bold;
    color: #ccc;
    cursor: pointer;
    padding-right: 25px;

    &:hover {
      padding: 9px 25px;
      background-color: #cccccc2a;
      border-radius: 8px;
    }
  }
}

.modalHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  h2 {
    color: #fff;
    margin: 0;
    font-size: 2rem;
  }

  p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
}

.modalContent {
  background-color: #3a4b6333;
  padding: 30px 50px 50px 50px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  max-width: 550px;
}

.closeButton {

  svg {
    position: absolute;
    top: -14px;
    right: -14px;
    border: none;
    font-size: 30px;    
    color: #ccc;
    cursor: pointer;
  }
}
