@use 'variables' as *;

.listaContainer {
  width: 100%;
  padding: 8em 4em;

  h3 {
    color: $color-white;
    margin: 0 0 45px 0;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    font-family: "Golos Text", sans-serif;
  }
}

.gridFilmes,
.gridShows {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.capaWrap {
  transition: transform 0.2s ease;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 2/3; 
    object-fit: cover; 
    border-radius: 5px;
    transition: transform 400ms ease-in-out;

    &:hover {
      outline: 3px solid $color-white;
      outline-offset: 2px;
      cursor: pointer;
      transform: scale(1.03);
      z-index: 1;
    }
  }

  p {
    width: 200px;
    margin: 10px 0;
    font-size: 0.7em;
    font-weight: bold;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: #888;
    transition: color 500ms ease;

    &:hover {
      cursor: pointer;
      color: $color-white;
    }
  }
}

@media (max-width: 1330px) {
  .listaContainer {
    padding: 8em 4em;
  }
}

@media (max-width: 1100px) {
  .capaWrap {
    flex: 0 0 calc(100% / 3); 
    padding: 1rem;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 960px) {
  .capaWrap {
    flex: 0 0 calc(100% / 2); 
    padding: 1rem;

    img {
      width: 100%;
      height: auto;
    }
  }
  .gridFilmes,
  .gridShows {
    gap: 1.5rem;
  }
}

@media (max-width: 710px) {
  .listaContainer {
    h3 {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
  .gridFilmes,
  .gridShows {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
  }
  .capaWrap p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .gridFilmes,
  .gridShows {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 0.8rem;
  }
  .capaWrap p {
    min-height: auto; 
  }
}