.movieDetailsPageContainer {
  width: 100%;
  height: 100vh;
}

.movieDetailsContainer {
  margin-top: 100px;
  text-align: center;

  .movieDetailsWrapper {
    display: flex;
    flex-direction: row;
    padding: 60px;
    gap: 60px;
  }

  .capa {
    width: 18.75rem;
    display: block;
    border-radius: 20px;
  }

  .descriptionMovie {
    width: 60%;
    margin-top: 2rem;
    text-align: left;
    font-size: 1.2em;
    color: #ccc;
    display: flex;
    flex-direction: column;

    .descriptionMovieWrapper {
      p {
        font-size: 0.8em;
      }
      h2,
      p {
        margin: 0;
      }
    }

    .sinopse {
      font-size: 1em;
    }

    .sinopseButton {
      background-color: transparent;
      color: #ccc;
      border: none;
      margin-top: 20px;
      padding: 0px;
      font-size: 0.9em;
      font-weight: 500;
      cursor: pointer;
      letter-spacing: 1.5px;
      align-self: flex-start;
      display: flex;
      align-items: center;
      gap: 8px;

      &:hover {
        color: #fe4f2d;
      }

      svg {
        font-size: 1em;
      }
    }
  }

  .actionSection {
    .actionButton {
      background-color: #fe4f2d;
      color: white;
      border: none;
      padding: 15px 0;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 20px;
      width: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      letter-spacing: 1.5px;

      svg {
        font-size: 1.3em;
      }
    }
  }
}

@media (max-width: 1130px) {
  .movieDetailsContainer {
    .capa {
      width: 15.75rem;
    }
  }
}

@media (max-width: 920px) {
  .movieDetailsContainer {
    .descriptionMovie {
      .sinopse {
        font-size: 0.9em;
      }
    }
  }
}

@media (max-width: 768px) {
  .movieDetailsPageContainer {
    height: auto;
  }

  .movieDetailsContainer {
    .movieDetailsWrapper {
      flex-direction: column;
      gap: 10px;
      padding: 0 60px 60px 60px;
    }

    .capa {
      margin: 0 auto;
    }

    .descriptionMovie {
      width: 100%;

      .actionSection {
        .actionButton {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 568px) {
  .movieDetailsPageContainer {
    font-size: 0.8em;
  }

  .movieDetailsContainer {
    .capa {
      width: 12.75rem;
    }
  }
}
