.showDetailsPageContainer {
  width: 100%;
}

.showDetailsContainer {
  margin-top: 100px;
  text-align: center;

  .showDetailsWrapper {
    display: flex;
    flex-direction: row;
    padding: 60px 60px 0 60px;
    gap: 60px;
  }

  .capa {
    width: 18.75rem;
    display: block;
    border-radius: 20px;
  }

  .description {
    width: 60%;
    margin-top: 2rem;
    text-align: left;
    font-size: 1.2em;
    color: #ccc;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .descriptionWrapper {
      p {
        font-size: 0.8em;
      }
    }

    h2,
    p {
      margin: 0;
    }

    .sinopse {
      font-size: 1em;
    }

    .sinopseButton {
      background-color: transparent;
      color: #ccc;
      border: none;
      padding: 0px;
      font-size: 0.9em;
      font-weight: 500;
      cursor: pointer;
      letter-spacing: 1.5px;
      align-self: flex-start;
      display: flex;
      align-items: center;
      gap: 8px;

      &:hover {
        color: #fe4f2d;
      }

      svg {
        font-size: 1em;
      }
    }
  }

  .temporadas {
    width: 40%;
    margin: 20px 60px 60px 60px;
    color: #ccc;
    text-align: left;

    .temporadaSelect {
      width: 100%;
      padding: 10px;
      margin: 20px 0;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #222;
      color: #fff;
      cursor: pointer;
    }

    .episodiosLista {
      list-style: none;
      padding: 0;
      margin: 0;

      .episodio {
        cursor: pointer;
        padding: 8px;
        border-bottom: 1px solid #444;
        &:hover,
        &:focus {
          background-color: #2a2a2a;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@media (max-width: 1130px) {
  .showDetailsPageContainer {
    font-size: 0.9em;
  }
  .showDetailsContainer {
    .temporadas {
      width: auto;
    }
    .capa {
      width: 15.75rem;
    }
  }
}

@media (max-width: 768px) {
  .showDetailsPageContainer {
    height: auto;
  }

  .showDetailsContainer {
    .showDetailsWrapper {
      flex-direction: column;
      gap: 10px;
      padding: 0 60px;

      .capa {
        margin: 0 auto;
      }

      .description {
        width: 100%;
      }
    }
  }
}

@media (max-width: 568px) {
  .showDetailsContainer {
    .capa {
      width: 12.75rem;
    }
  }
}
