.showDetailsContainer {
  margin-top: 100px;
  text-align: center;
  
  .showDetailsWrapper {
    display: flex;
    flex-direction: row;
    padding: 60px;
    gap: 60px;
  }
  
  .capa {
    width: 20%;
    display: block;
    border-radius: 20px;
  }

  .description {
    width: 60%;
    margin-top: 2rem;
    text-align: left;
    font-size: 1.2em;
    color: #ccc;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .descriptionWrapper{
        p {
          font-size: 0.8em;
        }
    }

    h2, p {
      margin: 0;
    }
  }

  .temporadas {
    width: 30%;
    margin: 20px 60px;
    color: #ccc;
    text-align: left;

    .temporadaSelect {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #222;
      color: #fff;
    }
    
    .episodiosLista {
      list-style: none;
      padding: 0;
      margin: 0;
    
      .episodio {
        margin-bottom: 5px;
        cursor: pointer;
        color: #ccc;
    
        &:hover {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
  }
}
